<div class="row col-md-12 pl-5 pr-0">
  <div class="col-md-12 mt-4">
    <h2><mat-icon>filter_list</mat-icon> Filter offers</h2>
    <app-filter-offers (filterEvent)="filterOffers($event)" ></app-filter-offers>
  </div>
  <div id="offersListDiv" class="row col-md-12 w-100 pt-1 pl-auto pr-auto">
    <app-cultural-offer-item class="col-md-3" (removeOffer)="removeOffer($event)" (editOffer)="editOffer($event)" [isSubscribed]="isSubscribed(offer)" *ngFor="let offer of getAllOffers()"
      [offer]="offer"
    >
    </app-cultural-offer-item>
    <div id="noOffersDiv" *ngIf="getAllOffers().length === 0">
      <h4>No offers in the database</h4>
    </div>
  </div>
  <div class="text-center col-md-3 ml-auto mr-auto mt-5" *ngIf="getAllOffers().length !== 0">
    <button class="btn btn-outline-info float-left mr-1" title="First page" (click)="firstPage()">|<</button>
    <button class="btn btn-outline-info float-left" title="Previous page" [disabled]="pageNum===1" (click)="previousPage()"><<</button>
    <p class=" float-left text-center ml-3 pt-2">{{pageNum}} of {{totalPages}}</p>
    <button class="btn btn-outline-info mr-1" title="Next page" (click)="nextPage()" [disabled]="nextBtn">>></button>
    <button class="btn btn-outline-info" title="Last page" (click)="lastPage()">>|</button>
  </div>
</div>
