<div class="row col-md-12 pl-5 pr-0">
  <div class="row col-md-12 w-100 pt-1 pl-auto pr-auto">
    <app-cultural-offer-item class="col-md-3" [isSubscribed]="isSubscribed(offer)" *ngFor="let offer of getAllOffers()"
      [offer]="offer"
    >
    </app-cultural-offer-item>
    <div *ngIf="getAllOffers().length === 0">
      <h4>No offers in the database</h4>
    </div>
  </div>
  <div class="text-center col-md-2 ml-auto mr-auto mt-5" *ngIf="getAllOffers().length !== 0">
    <button class="btn btn-outline-info float-left" [disabled]="pageNum===1" (click)="previousPage()"><<</button>
    <p class=" float-left text-center ml-3 pt-2">{{pageNum}}</p>
    <button class="btn btn-outline-info" (click)="nextPage()" [disabled]="nextBtn">>></button>
  </div>
</div>
