<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div id="navbarDiv" class="container-fluid">
      <a class="navbar-brand myFont" href="#"><i>Culture on The Palm</i></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngIf="isUser()">
            <a class="nav-link" id="subscribedItemsLink" routerLink="/cultural-offer/subscribed-items">Subscribed items</a>
          </li>
          <li class="nav-item" *ngIf="isUserAdmin()">
            <a class="nav-link" id="addOfferLink" routerLink="/cultural-offer/add-offer">Add offer</a>
          </li>
          <li class="nav-item" *ngIf="isUserAdmin()">
            <a class="nav-link" id="categoryLink" routerLink="/category">Category</a>
          </li>
          <li class="nav-item" *ngIf="isUserAdmin()">
            <a class="nav-link" id="typeLink" routerLink="/type">Type</a>
          </li>
          <li class="nav-item" *ngIf="isUserAdmin()">
            <a class="nav-link" id="approvingCommentsLink" routerLink="/comment/approving-comments">Approving comments</a>
          </li>
        </ul>
      </div>
      <span class="float-right" *ngIf="!getUser()">
        <a routerLink="/auth/login"><button mat-raised-button color="primary" id="loginBtn" class="mr-2">Login</button></a>
        <a routerLink="/auth/sign-up"><button mat-raised-button color="primary" id="signUpBtn">Sign Up</button></a>
      </span>
      <button id="userBtn" mat-mini-fab color="primary" class="dropdown" [matMenuTriggerFor]="beforeMenu"
        *ngIf="getUser()">{{getUserName()[0]}}</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button id="profileLink" class="dropdown" mat-menu-item routerLink="/user/profile">Profile</button>
        <button id="changePasswordLink" class="dropdown" mat-menu-item routerLink="/user/change-password">Change password</button>
        <button id="logoutLink" class="dropdown" mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </nav>
</div>
