<div class="row commentCard pl-3 pt-3 pb-3 pr-0">
  <div class="col-md-1 float-left">
    <img class="userImg" src="https://cdn1.iconfinder.com/data/icons/users-and-groups/32/user-chat-02-512.png" alt=""/>
    <p class="pt-1 mb-0"><small>{{comment.commenterName.split(" ")[0]}}</small></p>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="col-md-10 row">
    <div class="col-md-11">
      {{comment.content}}
    </div>
    <div class="col-md-1" *ngIf="comment.image !== null">
      <img class="userImg" [src]="imagePrefix() + comment.image?.picByte" alt="Comment"/>
    </div>
  </div>
  <div *ngIf="isAdmin()" class="col-md-1 pr-0">
    <mat-icon class="closeIcon float-right">close</mat-icon>
  </div>
</div>

