<div class="backgroundImg">
  <app-navigation-bar></app-navigation-bar>
  <div class="row col-md-12">
    <div class="container ml-auto mr-auto mt-5 w-55 border pt-5 pl-5 pr-5 pb-0 bg-white shadow-lg rounded">
      <h1 class="ml-3 font-weight-bold mb-3">Change password</h1>

      <form class="form-horizontal align-content-center" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div class="form-group">
          <label class="col-md-3 control-label">Old Password <small class="inputError">*</small></label>
          <div class="col-md-8">
            <input class="form-control" type="password" name ="oldPassword" id="oldPassword" formControlName="oldPassword" required placeholder="Enter old password">
            <div *ngIf="changePasswordForm.controls['oldPassword'].touched && changePasswordForm.controls['oldPassword'].errors?.required" class="mt-1 pl-1 inputError">
              <small>Old password is required.</small>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">New Password <small class="inputError">*</small></label>
          <div class="col-md-8">
            <input class="form-control" name ="newPassword" id="newPassword" type="password" formControlName="newPassword" placeholder="Enter new password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
            <div *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].errors?.required" class="mt-1 pl-1 inputError">
              <small>New password is required.</small>
            </div>
            <div *ngIf="changePasswordForm.controls['newPassword'].errors?.pattern" class="mt-1 pl-1 inputError">
              <small>Password must contain minimum 8 characters, at least one letter and one number.</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Confirm password <small class="inputError">*</small></label>
          <div class="col-md-8">
            <input class="form-control" name ="confirmPassword" id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Confirm new password" required>
            <div *ngIf="changePasswordForm.controls['confirmPassword'].touched && changePasswordForm.controls['confirmPassword'].errors?.required" class="mt-1 pl-1 inputError">
              <small>Confirm password is required.</small>
            </div>
            <div *ngIf="changePasswordForm.controls['confirmPassword'].errors?.mustMatch" class="mt-1 pl-1 inputError">
              <small>Please make sure your passwords match.</small>
            </div>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-md-8">
            <input type="button" class="btn btn-primary" value="Save Changes" (click)="changePassword()">
            <span></span>
            <input type="reset" class="btn btn-default" value="Cancel" routerLink="/home-page">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
