.backgroundImg {
  background-image: url("src/assets/img/paper.png");
  height: 800px;
  width: inherit;
}
.Link {
  text-decoration: none;
}

.w-55{
  width: 55%;
}
.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.initials {
  color         : #FFFFFF;
  font-size     : 40px;
  line-height   : 19px;
  letter-spacing: 0.2625px;
}
.inputError {
  color: crimson;
}
