<div class="backgroundImg">
  <div class="col-md-12 pl-0 pr-0">
    <app-navigation-bar></app-navigation-bar>
  </div>
  <div class="ml-auto mr-auto mt-5 w-55 border pt-5 pl-5 pr-5 pb-0 bg-white shadow-lg rounded ">
  <h1 class="ml-3 font-weight-bold mb-3">Profile</h1>
  <div class="row mb-5 ">

    <div class="col-md-4 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <div class="circle " [ngStyle]="{'background-color':  circleColor }">
          <div class="initials">
            {{ initials }}
          </div>
        </div>
        <span class="font-weight-bold mt-2">{{firstName}}  {{lastName}}</span>
        <span class="text-black-50">{{email}}</span>
      </div>


    </div>
    <div class="col-md-8 align-content-center">
      <form class=" form-horizontal " [formGroup]="editProfileForm" (ngSubmit)="editProfile()">
        <div class="form-group">
          <label class="col-lg-3 control-label">First name</label>
          <div class="col-md-12">
            <input class="form-control" type="text" id="firstName" formControlName="firstName" required pattern="[A-Z][a-z]+">
            <div *ngIf="editProfileForm.controls['firstName'].touched && editProfileForm.controls['firstName'].errors?.required" class="mt-1 pl-1 inputError">
              <small>First Name is required.</small>
            </div>
            <div *ngIf="editProfileForm.controls['firstName'].errors?.pattern" class="mt-1 pl-1 inputError">
              <small>First Name must start with capital letter.</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name</label>
          <div class="col-md-12">
            <input class="form-control" type="text" id="lastName" formControlName="lastName" required pattern="[A-Z][a-z]+">
            <div *ngIf="editProfileForm.controls['lastName'].touched && editProfileForm.controls['lastName'].errors?.required" class="mt-1 pl-1 inputError">
              <small>Last Name is required.</small>
            </div>
            <div *ngIf="editProfileForm.controls['lastName'].errors?.pattern" class="mt-1 pl-1 inputError">
              <small>Last Name must start with capital letter.</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email</label>
          <div class="col-md-12">
            <input class="form-control" type="text"  formControlName="email" >
          </div>
        </div>
        <div class="text-left pt-3 ml-3">
          <p> <a id="changePassId" routerLink="../change-password" class="Link">Change password</a></p>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8 ">
            <button button mat-raised-button color="primary" id="editProfileBtn" [disabled]="!editProfileForm.valid" class="mr-2" (click)="editProfile()">Save Changes</button>
            <span></span>
            <button button mat-raised-button color="warn" id="cancelEditProfileBtn" routerLink="/home-page">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
