<div class="backgroundImg">
  <div class="container ml-auto mr-auto mt-5 w-25 border pt-4 pl-5 pr-5 pb-0 bg-white shadow-lg rounded">
    <form #signupForm="ngForm" name="signup_form">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" #fName="ngModel" name="firstName" [(ngModel)]="firstName" id="firstName" placeholder="Enter first name" required  pattern="[A-Z][a-z]+">
        <div *ngIf="fName.touched && fName.errors?.required" class="mt-1 pl-1 inputError">
          <small>First Name is required.</small>
        </div>
        <div *ngIf="fName.errors?.pattern" class="mt-1 pl-1 inputError">
          <small>First Name must start with capital letter.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" #lName="ngModel" name="lastName" [(ngModel)]="lastName" id="lastName" placeholder="Enter last name" required  pattern="[A-Z][a-z]+">
        <div *ngIf="lName.touched && lName.errors?.required" class="mt-1 pl-1 inputError">
          <small>Last Name is required.</small>
        </div>
        <div *ngIf="lName.errors?.pattern" class="mt-1 pl-1 inputError">
          <small>Last Name must start with capital letter.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" #mail="ngModel" name="email" [(ngModel)]="email" id="email" placeholder="Enter email" required pattern="^[a-z0-9._%+-]+@maildrop.cc">
        <div *ngIf="mail.touched && mail.errors?.required" class="mt-1 pl-1 inputError">
          <small>Email is required.</small>
        </div>
        <div *ngIf=" mail.errors?.pattern " class="mt-1 pl-1 inputError">
          <small>Wrong email format. Example: "john123@maildrop.cc".</small>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" #pass="ngModel" name="password" [(ngModel)]="password" id="password" placeholder="Enter password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
        <div *ngIf="pass.errors?.pattern" class="mt-1 pl-1 inputError">
          <small>Must contain at least one number and one uppercase and lowercase letter, and at least 8 characters.</small>
        </div>
        <div *ngIf="pass.touched && pass.errors?.required" class="mt-1 pl-1 inputError">
          <small>Password is required.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="passwordConfirm">Confirm Password</label>
        <input type="password" class="form-control" #passConfirm="ngModel" name="passwordConfirm" [(ngModel)]="passwordConfirm" id="passwordConfirm" placeholder="Confirm password" required pattern="{{ password }}">
        <div *ngIf="passConfirm.touched && passConfirm.errors?.required" class="mt-1 pl-1 inputError">
          <small>Confirm password.</small>
        </div>
        <div *ngIf="passConfirm.errors?.pattern" class="mt-1 pl-1 inputError">
         <small>Please make sure your passwords match.</small>
        </div>
      </div>
      <div class="pt-3">
        <button class="btn btn-block mt-3 btn-success" [disabled]="!signupForm.form.valid" (click)="signUp()">Sign Up</button>
      </div>
    </form>
    <div class="text-center pt-3">
      <p>Already have an account? <a routerLink="/login" class="loginLink">Login here</a></p>
    </div>
  </div>
</div>
