
<h2 mat-dialog-title>Edit cultural offer</h2>

<mat-dialog-content>

    <form [formGroup]="myForm">
        <div class="form-group">
            <label for="name">Cultural offer name:</label>
            <input formControlName="name" id="name" type="text" class="form-control">
            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.name.errors!.required">Name is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea formControlName="description" id="description" type="text" class="form-control" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
            <div *ngIf="f.description.touched && f.description.invalid" class="alert alert-danger">
                <div *ngIf="f.description.errors!.required">Description is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="place">Place:</label>
            <input formControlName="place" disabled [(ngModel)]="placeName" id="place" type="text" class="form-control">
            <div *ngIf="f.place.touched && f.place.invalid" class="alert alert-danger">
                <div *ngIf="f.place.errors!.required">Place name is required.</div>
            </div>
        </div>
        <div id="mapid"></div>
    </form>

</mat-dialog-content>

<mat-dialog-actions>
    <button id="editCloseBtn" class="mat-raised-button mr-2"(click)="close()">Close</button>
    <button id="editSaveBtn" class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>

