<div class="backgroundImg">
    <div class="col-md-12 pl-0 pr-0">
        <app-navigation-bar></app-navigation-bar>
    </div>
    <div class="jumbotron bg-light col-md-10 ml-auto mr-auto mt-3 pt-5">
        <div class="col-md-8 ml-auto mr-auto pt-1 mt-0">
            <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Category name:</label>
                    <input formControlName="name" id="name" type="text" class="form-control">
                    <div *ngIf="f.name.touched && f.name.invalid" class="text-danger">
                        <div *ngIf="f.name.errors!.required">Name is required.</div>
                    </div>
                </div>
                <div class="form-group float-right mt-3">
                    <button mat-raised-button color="primary" id="submit" [disabled]="!categoryForm.valid" type="submit"
                        class="btn-block">Submit</button>
                </div>
            </form>
            <form [formGroup]="categoryFormByName" (ngSubmit)="onSubmitByName()">
                <div class="form-group">
                    <input formControlName="byname" placeholder="Search by name" id="byname" type="text" class="form-control">
                    <div *ngIf="fbyname.byname.touched && fbyname.byname.invalid" class="text-danger">
                        <div *ngIf="fbyname.byname.errors!.required">Name is required.</div>
                    </div>
                </div>
                <div class="form-group float-right mt-3">
                    <button mat-raised-button color="primary" id="search" [disabled]="!categoryFormByName.valid" type="submit"
                        class="btn-block">Search</button>
                </div>
            </form>
            <div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>Name</th>
                            <th>Types</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let c of getAllCategories()">
                            <td>{{c.name}}</td>
                            <td>
                                <select class="form-select form-select-lg mb-3">
                                    <option>{{c.types.length}} types</option>
                                    <option *ngFor='let type of c.types' [value]="type.id" disabled>
                                        {{type.name}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <button mat-mini-fab color="primary" id="editButton" class="mr-2 mb-2" (click)="editCategory(c)"
                                    style="outline: none">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-mini-fab color="warn" id="deleteButton" class="mr-2 mb-2" (click)="deleteCategory(c.id)"
                                    style="outline: none">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="getAllCategories().length === 0">
                    <h4>No categories in the database</h4>
                </div>
            </div>
            <div class="text-center col-md-2 ml-auto mr-auto mt-5" *ngIf="getAllCategories().length !== 0">
                <button class="btn btn-outline-info float-left" [disabled]="pageNum===1" (click)="previousPage()"><<</button>
                <p class=" float-left text-center ml-3 pt-2">{{pageNum}}</p>
                <button class="btn btn-outline-info" (click)="nextPage()" [disabled]="nextBtn">>></button>
            </div>
        </div>
    </div>
</div>