<div class="row mt-3">
  <mat-expansion-panel class="w-100" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Want to add comment? Click here!
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="isLoggedIn()">
      <form [formGroup]="addForm" (ngSubmit)="submit()">
        <div class="form-group">
          <textarea placeholder="Enter comment" formControlName="commentText" id="commentText" type="text" class="form-control" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
          <div *ngIf="f.commentText.touched && f.commentText.invalid" class="text-danger">
              <div *ngIf="f.commentText.errors!.required">Comment text is required.</div>
          </div>
      </div>
        <div class="form-group float-left col-md-11 custom-file">
          <p class="float-left col-md-1 mt-1 pl-0">Attachment? </p>
          <div class="custom-file ">
          <input formControlName="file" id="file" type="file" accept="image/*"
              class="custom-file-input" multiple="" (change)="onFileChange($event)">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
      </div>
        <div class="col-md-12 float-left">
          <button mat-raised-button class="float-right" color="primary" id="submit" [disabled]="!addForm.valid" type="submit">Submit</button>
        </div>
      </form>
      </div>

    <div *ngIf="!isLoggedIn()">
      <h3 class="float-left">You have to be logged in to leave a comment!</h3>
      <h3 class="float-left ml-2"><a routerLink="/login">Login here</a>, or <a routerLink="/sign-up">Sign up</a>!</h3>
    </div>
  </mat-expansion-panel>
</div>
