.btnColor {
  background-color: crimson;
  border-color: crimson;
  color: white;
}

.backgroundImg {
  height: 100vh;
  display: flow-root;
  background-image: url("src/assets/img/cultureOnThePalm.jpg");
  background-size: cover;
}

.inputError {
  color: crimson;
}

.signUpLink {
  text-decoration: none;
}
