<div class="row">
  <div class="col-md-12 pl-0 pr-0">
    <app-navigation-bar></app-navigation-bar>
  </div>
  <div class="jumbotron col-md-10 ml-auto mr-auto bg-light shadow mt-5 pt-3">
    <div *ngIf="offer">
      <div class="row">
        <div class="col-md-4">
          <h1><b>{{offer.name}}</b></h1>
          <div id="carouselExampleControls" class="carousel slide" style="height: 350px;" data-ride="carousel">
            <div class="carousel-inner h-100">
              <div class="carousel-item active">
                <img *ngIf="offer.images.length > 0" [src]="'data:image/png;base64,'+offer.images[0].picByte" [alt]="offer.name"/>
                <img *ngIf="offer.images.length === 0" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" [alt]="offer.name">
              </div>
              <div class="carousel-item" *ngFor="let i of offer.images.slice(1, offer.images.length)">
                <img class="d-block w-100" [src]="'data:image/png;base64,'+i.picByte" alt="Second slide">
              </div>
            </div>
            <a *ngIf="offer.images.length > 1" class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"><</span>
              <span class="sr-only">Previous</span>
            </a>
            <a *ngIf="offer.images.length > 1" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

        </div>
        <div class="col-md-8">
          <mat-grid-list cols="3" rowHeight="7:1">
            <mat-grid-tile>
              <div class="col-md-12 pl-0 mb-0">
                <h1 class="mb-0"><div class="badge badge-light" title="Average grade">
                  <mat-icon class="float-left mr-3">star</mat-icon> <p class="pt-1">{{offer.avgGrade}}</p>
                </div></h1>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="col-md-12 pl-0 mb-0">
                <h1 class="mb-0"><div class="badge badge-light" title="Number of subscribers">
                  <mat-icon class="float-left mr-3">people</mat-icon> <p class="pt-1" id="subscribersCountText">{{offer.subscribersCount}}</p>
                </div></h1>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="col-md-12 pl-0 mb-0">
                <h1 class="mb-0"><div class="badge badge-light" title="Number of posts">
                  <mat-icon class="float-left mr-3">pages</mat-icon> <p class="pt-1">{{offer.postsCount}}</p>
                </div></h1>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="col-md-12 pl-0 mb-0">
                <h1 class="mb-0"><div class="badge badge-light" title="Number of comments">
                  <mat-icon class="float-left mr-3">comment</mat-icon> <p class="pt-1">{{offer.commentsCount}}</p>
                </div></h1>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="col-md-12 pl-0 mb-0">
                <h1 class="mb-0"><div class="badge badge-light" title="Cultural Offer Category">
                  <mat-icon class="float-left mr-3">spa</mat-icon><p class="pt-1">{{offer.type.categoryName}}</p>
                </div></h1>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="col-md-12 pl-0 mb-0">
                <h1 class="mb-0"><div class="badge badge-light" title="Cultural Offer Type">
                  <mat-icon class="float-left mr-3">location_city</mat-icon><p class="pt-1">{{offer.type.name}}</p>
                </div></h1>
              </div>
            </mat-grid-tile>

            <mat-grid-tile>
              <div class="col-md-12 pl-0 mb-0 pt-2" *ngIf="!isAdmin()">
                <h1 class="mb-0"><div class="badge badge-light" title="Grade offer!">
                  <mat-icon class="float-left mr-3 mt-1">grade</mat-icon>
                  <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block">
                    <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}">
                      <i class="fa fa-star"></i>
                    </li>
                  </ul>
                </div>
                </h1>
              </div>
            </mat-grid-tile>

            <mat-grid-tile>
              <div class="col-md-12 pl-0 mb-0 pb-2">
                <button mat-raised-button title="See location" (click)="showLocation(offer.location)" class="mb-1">
                    <mat-icon> location_on</mat-icon> {{offer.location.place}}
                </button>
             </div>
            </mat-grid-tile>

            <mat-grid-tile>
              <div class="col-md-12 pl-0 mb-1" *ngIf="isUser()">
                <p class="float-left mr-2 mt-1">Subscribe</p>
                <mat-slide-toggle class="mb-1" id="subscribe-toggle" color="primary" (change)="subscribeToggle($event, offer.id)" [checked]="isSubscribed(offer)" title="(Un)Subscribe"></mat-slide-toggle>
              </div>
            </mat-grid-tile>
          </mat-grid-list>

            <div class="float-left col-md-12 pl-0" style="font-size: medium;">
              <div class="form-group">
                <h2><label for="exampleFormControlTextarea1">Description</label></h2>
                <textarea title="Description" disabled class="form-control bg-white" id="exampleFormControlTextarea1" style="resize: none;" rows="7">{{offer.description}}</textarea>
              </div>
            </div>
            <mat-divider></mat-divider>
        </div>
      </div>

      <app-post-list [offer_id]="offer.id"></app-post-list>
      <app-comment-list [offer_id]="offer.id"></app-comment-list>
    </div>
  </div>
</div>
 